<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>图书管理系统</title>
        <link rel="shortcut icon" href="img/library.ico">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/vue-modal.css">
        <link rel="stylesheet" href="css/my-table.css">
        <link rel="stylesheet" href="css/action-bar.css">
        <link rel="stylesheet" href="css/table-template.css">
    </head>
    <body>
        <h1 class="text-center">图书管理系统</h1>
        <br>
        <div class="container action-bar" id="action_bar">
            <button type="button" name="button" class="btn btn-success btn-lg" @click="addItem">{{ addItemName }}</button>
            <button type="button" name="button" class="btn btn-danger btn-lg" @click="deleteItem">删除</button>
            <button type="button" name="button" class="btn btn-warning btn-lg action-bar-trash-button" @click="trashbin">{{ trashName }}</button>
            <button type="button" name="button" class="btn btn-default btn-lg action-bar-refresh-button" @click="refresh">刷新</button>
            <button type="button" name="button" class="btn btn-info btn-lg action-bar-search-button" @click="search">搜索</button>
            <input type="text" name="searcher" placeholder="搜索" class="input action-bar-searcher" v-model="keyword">
        </div>
        <div class="container my-table" id="table_template">
            <table class="table table-hover table-striped">
                <thead>
                    <tr is="table-header" :headers="headers" :chose="selectAll" @click="choseAll"></tr>
                </thead>
                <tbody>
                    <tr is="table-item" v-for="(item,index) in itemArray" :item="item" :selectall="selectAll" :index="index" @select="choseItem" @cancel="removeItem"></tr>
                </tbody>
            </table>
            <p class="text-center">
                <button type="button" class="btn btn-default" v-show="showBefore" @click="before">上一页</button>
                <span class="total_span">总共:{{ total_page }}页</span>
                <span class="current_span">当前第:{{ current_page }}页</span>
                <button type="button" class="btn btn-default" v-show="showAfter" @click="next">下一页</button>
            </p>
        </div>
        <div id="info_modal" class="container">
            <my-modal v-show="showModal">
                <h3 slot="header">{{ infoHeader }}</h3>
                <div slot="body" class="container body-contain">
                    <message-item v-if="showMessage" :message="message"></message-item>
                    <info-item v-if="showItem" v-for="(item, index) in itemArray" :name="item.name" :value="item.value" :key="index" :edit="editModal"></info-item>
                    <delete-item v-if="showDelete" :names="deleteItemNames" :complete="trashModel"></delete-item>
                    <select-type v-if="showSelect" @book="importInfo('book')" @magazine="importInfo('magazine')"></select-type>
                </div>
                <div slot="footer">
                    <button class="btn btn-primary" @click="edit" v-if="showEdit">编辑</button>
                    <button class="btn btn-danger" @click="cancel" v-if="showCancel">取消</button>
                    <button class="btn btn-success" @click="enter"v-show="showEnter" >确定</button>
                </div>
            </my-modal>
        </div>
        <script src="js/vue.js"></script>
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/table-template.js"></script>
        <script src="js/modal-panel.js"></script>
        <script src="js/action-bar.js"></script>
        <script src="js/fix-modal-size.js"></script>
    </body>
</html>
